body {
	background-color: #f0f0f0; /*#002137*/
}
form, fieldset, input, textarea {
	margin: 0; padding: 0; border: 0; outline: none;
}

@font-face {
    font-family: 'mikodacspcsregular';
    src: url('../fonts/mikodacspcs-webfont.eot');
    src: url('../fonts/mikodacspcs-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mikodacspcs-webfont.woff') format('woff'),
         url('../fonts/mikodacspcs-webfont.ttf') format('truetype'),
         url('../fonts/mikodacspcs-webfont.svg#mikodacspcsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#wrap {width:530px; margin:20px auto 0; height:720px;}


	#form_wrap { overflow:hidden; height:446px; position:relative; top:0px;
		-webkit-transition: all 1s ease-in-out .3s;
		-moz-transition: all 1s ease-in-out .3s;
		-o-transition: all 1s ease-in-out .3s;
		transition: all 1s ease-in-out .3s;}
	
	#form_wrap:before {content:"";
		position:absolute;
		bottom:128px;left:0px;
		background:url('../img/contacts/before.png');
		width:530px;height: 316px;}
	
	#form_wrap:after {content:"";position:absolute;
		bottom:0px;left:0;
		background:url('../img/contacts/after.png');
		width:530px;height: 260px; }

	#form_wrap.hide:after, #form_wrap.hide:before {display:none;}
	
	
	
	
	
	
	
	/*  for_IE  */
#before {position:absolute;
          bottom:128px;left:0px;
          background:url('../img/contacts/before.png');
          width:530px;height: 316px;}
     
#after {position:absolute;
        bottom:0px;left:0;
        background:url('../img/contacts/after.png');
        width:530px;height: 260px; }
/*  END_for_IE  */
	
	
	
	
	
	
	
	#form_wrap:hover {height:650px;top:-200px;}


	form {background:#f7f2ec url('../img/contacts/letter_bg.png'); 
		position:relative;top:200px;overflow:hidden;
		height:200px;width:400px;margin:0px auto;padding:20px; 
		border: 1px solid #fff;
		border-radius: 3px; 
		-moz-border-radius: 3px; -webkit-border-radius: 3px;
		box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
		-moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
		-webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
		-webkit-transition: all 1s ease-in-out .3s;
		-moz-transition: all 1s ease-in-out .3s;
		-o-transition: all 1s ease-in-out .3s;
		transition: all 1s ease-in-out .3s;}


		#form_wrap:hover form {height:530px;}

		label {
			margin: 11px 20px 0 0; 
			font-size: 16px; color: #b3aba1;
			text-transform: uppercase; 
			text-shadow: 0px 1px 0px #fff;
		}

		input[type=text], textarea {
			font: 14px normal normal uppercase helvetica, arial, serif;
			color: #7c7873;background:none;
			width: 380px; height: 36px; padding: 0px 10px; margin: 0 0 10px 0;
			border:1px solid #f8f5f1;
			-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
			-moz-box-shadow: inset 0px 0px 1px #726959;
			-webkit-box-shadow:  inset 0px 0px 1px #b3a895; 
			box-shadow:  inset 0px 0px 1px #b3a895;
		}	

		textarea { height: 80px; padding-top:14px;}

		textarea:focus, input[type=text]:focus {background:rgba(255,255,255,.35);}

		#form_wrap input[type=submit] {
			position:relative;
			font-size:24px; color: #7c7873;text-shadow:0 1px 0 #fff;
			font-family: "Trebuchet MS";
			font-weight: bold;
			width:100%; text-align:center;opacity:0;
			background:none;
			cursor: pointer;
			-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; 
			-webkit-transition: opacity .6s ease-in-out 0s;
			-moz-transition: opacity .6s ease-in-out 0s;
			-o-transition: opacity .6s ease-in-out 0s;
			transition: opacity .6s ease-in-out 0s;
		}

		#form_wrap:hover input[type=submit] {z-index:1;opacity:1;
			-webkit-transition: opacity .5s ease-in-out 1.3s;
			-moz-transition: opacity .5s ease-in-out 1.3s;
			-o-transition: opacity .5s ease-in-out 1.3s;
			transition: opacity .5s ease-in-out 1.3s;}

			#form_wrap:hover input:hover[type=submit] {color:#435c70;}

/* my (Kozhevnikov Alexey) edits */
label.btn {
	margin-top: 0;
}

.contacts-txt {
	font-family: "Trebuchet MS";
}

.contacts-txt:after {
	display: block;
	content: "";
	clear: both;
}

.contacts-workers-decor {
	border: 3px #212121 solid;
	font-family: "Trebuchet MS";
	padding: 2px 5px;
	width: 100%;
	margin-bottom: 40px;
}

.contacts-map {
	font-family: "Trebuchet MS";
	background-color: #212121;
	color: #fff;
	padding-bottom: 50px;
	margin-bottom: 0;
}

.feedback {
	padding: 0;
	/*padding-top: 30px;*/
	background: url("../img/contacts/post.jpg") no-repeat #212121;
	background-size: cover;
}

.brightness {
	padding-top: 30px; margin: 0;
	background-color: rgba(255, 255, 255, 0.7);
}

.contacts-icon {
	background-size: 752px 250px;
	width:  250px;
	height: 250px;
	/*position: relative;*/
	/*left: 132px;
	margin-bottom: 22px;*/
	background-image: url("../img/contacts/icons-spr.png");
	background-color: transparent; /*temporary*/
}

.contacts-items {
	margin-top: -100px;
	color: #fff;
	margin-left: 0;
}

.contacts-description, .contacts-description-last {
	background-color: #212121;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 150px;
	font-family: "Trebuchet MS";
}
.contacts-description-last {
	margin-right: 0;
}

.contacts-description h2, .contacts-description-last h2 {
	padding-top: 8px;
}

.contacts-description p, .contacts-description-last p {
	line-height: 20px;
	font-size: 16px;
	margin: 0 0 3px 0;
}

.contacts-description a, .contacts-description-last a,
.contacts-description a:link, .contacts-description-last a:link,
.contacts-description a:visited, .contacts-description-last a:visited,
.contacts-description a:active, .contacts-description-last a:active,
.contacts-description a:hover, .contacts-description-last a:hover {
	text-decoration: none;
	color: #fff;
}

.contacts-description a:hover, .contacts-description-last a:hover {
	color: #e6e6e6;
}

.contacts-icon-web {
	background-position: 0px 0px;
}

.contacts-icon-phone {
	background-position: -250px 0px;
}

.contacts-icon-address {
	background-position: -500px 0px;
}